<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalmadproject">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".List.ViewAllTasks"></activity>
        <activity android:name=".TaskManagement.ReadTaksSelectable" />
        <activity android:name=".List.UpdateActivity" />

        <activity android:name=".TanPart.StaticActivity"></activity>
        <activity android:name=".TanPart.home"></activity>
        <activity android:name=".TanPart.UserAction"></activity>
        <activity
            android:name=".List.AddActivity"
            android:label="Add list"
            android:parentActivityName=".List.MainActivity_List" />
        <activity android:name=".List.Splash" />
        <activity android:name=".Settings.CommonLayoutActivity">

        </activity>
        <activity
            android:name=".TanPart.T_MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TaskManagement.UpdateTask" />
        <activity android:name=".TaskManagement.UpdateSubject" />
        <activity android:name=".TaskManagement.MainActivity" />
        <activity android:name=".Settings.MainActivity_sl" />
        <activity android:name=".Settings.Sounds" />
        <activity android:name=".List.MainActivity_List" />
    </application>

</manifest>